﻿@model Dictionary<string, Korisnik>
@{
    ViewBag.Title = "Index";
}
<head>
    <style>
        .divOdjava {
            text-align: right;
            background: #faffbf;
            font-size: 26px;
        }
        body {
            background-image: url("glavna.png");
        }
        .divTabela {
            text-align: center;
            background: #c4ff66;
            font-size: 16px;
            font-style:italic;
            font-weight:bold;
        }

        .divPretraga {
            background: #f7f783;
            text-align: center;
        }

        .divAdmin {
            background: #66d1ff;
            text-align: center;
        }
    </style>
</head>
<body>

    <div class="divAdmin"> <h2>Administrator</h2></div>
    <div class="divOdjava">
        <div>
            <a href="~/Admin/Index">Korisnici</a>
            |
            <a href="~/Admin/Sadrzaji">Sadrzaji</a>
            |
            <a href="~/Admin/Apartmani">Apartmani</a>
            |
            <a href="~/Admin/PrikazProfila">Moj Profil</a>
            |
            <a href="~/Home/Index">Odjavi me</a>
        </div>

    </div>


    <div class="divPretraga">

        <form action="~/Admin/Index" method="post">
            <table align="center">
                <tr>
                    <th>Uloga:</th>
                    <th>Pol:</th>
                    <th>Korisnicko Ime:</th>
                   
                </tr>
                <tr>
                    <td>
                        <select name="Uloga">
                            <option value="SVI">Svi</option>
                            <option value="ADMIN">ADMIN</option>
                            <option value="GOST">GOST</option>
                            <option value="DOMACIN">DOMACIN</option>
                        </select>
                    |</td>
                    <td>
                        <select name="Pol">
                            <option value="SVI">Svi </option>
                            <option value="MUSKO">Musko</option>
                            <option value="ZENSKO">Zensko</option>
                        </select>
                    |</td>
                    <td>
                        <input type="text" name="KorIme" />
                    |</td>
                    <td rowspan="2">
                        <input name="dugme" type="submit" value="Pretrazi" />
                    </td>
                </tr>
             
            </table>
        </form>
    </div>

    <div class=" divTabela">
        <table border="1" align="center">
            <tr>
                <th>Korisnicko Ime:</th>
                <th>Ime:</th>
                <th>Prezime:</th>
                <th>Pol:</th>
                <th>Uloga:</th>
                <td>Proglasi za Domacina</td>
            </tr>
            @foreach (var a in Model.Values)
            {
                <form action="~/Admin/DodajDomacina">
                    <tr>
                        <td>@a.KorisnickoIme</td>
                        <td>@a.Ime</td>
                        <td>@a.Prezime</td>
                        <td>@a.Pol</td>
                        <td>
                            @a.Uloga.ToString()
                        </td>
                        <td>
                            @if (a.Uloga == Enumeracije.Uloga.GOST)
                            {
                                <input type="hidden" value="@a.KorisnickoIme" name="korisnickoime" />
                                <input type="submit" value="Dodaj kao domacina" />
                            }
                        </td>
                    </tr>
                </form>
            }
        </table>
    </div>



</body>