﻿@model Sadrzaj
@{
    ViewBag.Title = "IzmenaSadrzaja";
}
<head>
    <style>
        
        .divDodavanje {
            background: #66d1ff;
            text-align: center;
        }
        body {
            background-image: url("glavna.png");
        }

        .divOdjava {
            text-align: right;
            background: #faffbf;
            font-size: 26px;
        }
        .divtext {
            text-align: center;
        }
        .divAdmin {
            background: #66d1ff;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="divAdmin"> <h2>Administrator</h2></div>
    <div class="divOdjava">
        <div>
            <a href="~/Admin/Index">Korisnici</a>
            |
            <a href="~/Admin/Sadrzaji">Sadrzaji</a>
            |
            <a href="~/Admin/Apartmani">Apartmani</a>
            |
            <a href="~/Admin/PrikazProfila">Moj Profil</a>
            |
            <a href="~/Home/Index">Odjavi me</a>
        </div>
    </div>
    <div class="divtext">
        <h3>IzmenaSadrzaja</h3>
    </div>
    <div class="divDodavanje">
        <form action="~/Admin/Modifikovanje">
            <table border="1" align="center">
                <tr>
                    <th colspan="2">Izmeni: </th>
                </tr>
                <tr>
                    <th>Naziv Sadrzaja</th>
                    <td>
                        <input type="text" name="naziv" value="@Model.Naziv" />
                        <input type="hidden" name="id" value="@Model.ID" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Izmeni" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>