﻿@model Dictionary<int,Sadrzaj>
@{

     ViewBag.Title = "Sadrzaji";
}
<head>
    <style>
        .divTabela {
            text-align: center;
            background: #c4ff66;
            font-size: 16px;
            font-style: italic;
            font-weight: bold;
        }
        .divDodavanje{
            background: #66d1ff;
            text-align: center;
        }
        body {
            background-image: url("glavna.png");
        }
        .divOdjava {
            text-align: right;
            background: #faffbf;
            font-size: 26px;
        }
        .divtext{
            text-align:center;
        }
        .divAdmin {
            background: #66d1ff;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="divAdmin"> <h2>Administrator</h2></div>
    <div class="divOdjava">
        <div>
            <a href="~/Admin/Index">Korisnici</a>
            |
            <a href="~/Admin/Sadrzaji">Sadrzaji</a>
            |
            <a href="~/Admin/Apartmani">Apartmani</a>
            |
            <a href="~/Admin/PrikazProfila">Moj Profil</a>
            |
            <a href="~/Home/Index">Odjavi me</a>
        </div>

    </div>

    <div class="divTabela">
        <table border="1" align="center">

            <tr>
                <th colspan="4">Svi sadrzaji</th>
            </tr>
            <tr>
                <th>ID: </th>
                <th>Naziv: </th>
                <th colspan="2">Izmene i brisanje</th>
            </tr>
            @foreach (var a in Model.Values)
            {
                <form action="~/Admin/IzmenaSadrzaja" method="post">
                    <tr>
                        <td>
                            @a.ID
                        </td>
                        <td>
                            @a.Naziv
                        </td>
                        <td>
                            <input type="hidden" name="id" value="@a.ID" />
                            <input type="submit" name="izmena" value="Modifikuj" />
                        </td>
                        <td>
                            <input type="hidden" name="id" value="@a.ID" />
                            <input type="submit" neme="izmena" value="Obrisi" />
                        </td>
                    </tr>
                </form>
            }
        </table>
    </div>
    <div class="divtext">
        <h3>Dodavanje novog sadrzaja:</h3>
    </div>

    <div class="divDodavanje">
        <form action="~/Admin/DodavanjeSadrzaja">
            <table border="1" align="center">
                <tr>
                    <th colspan="2">Dodaj Novi: </th>
                </tr>
                <tr>
                    <th>Naziv Sadrzaja:</th>
                    <td><input type="text" name="naziv" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Dodaj" />
                    </td>
                </tr>
            </table>
        </form>
        <h3>@Session["PorukaSadrzaj"]</h3>
    </div>
</body>