﻿
@{
    ViewBag.Title = "DodajApartman";
}

<head>
    <style>
        .divLogovanje {
            background: #66d1ff;
            text-align: center;
        }
        body {
            background-image: url("glavna.png");
        }
        .divAdmin {
            background: #66d1ff;
            text-align: center;
        }

        .divOdjava {
            text-align: right;
            background: #faffbf;
            font-size: 26px;
        }
        .divDodavanje {
            background: #66d1ff;
            text-align: center;
            font-weight: bold;
        }

        .divDomacin {
            background: #66d1ff;
            text-align: center;
        }
        .divtext {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="divDomacin"> <h2>Domacin</h2></div>
    <div class="divOdjava">
        <div>
            <a href="~/Domacin/Index">Moji Apartmani</a>
            |
            <a href="~/Domacin/PrikazProfila">Moj Profil</a>
            |
            <a href="~/Home/Index">Odjavi me</a>
        </div>
    </div>
    <div class="divtext">
        <h2>Dodavanje Apartmana</h2>
    </div>
    <div class="divDodavanje">
        @using (Html.BeginForm("DodajApartman", "Domacin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
        <table border="1" align="center">
            <tr>
                <th>Tip:</th>
                <td>
                    <select name="TipApa">
                        <option value="CEO_APART">CEO_APART</option>
                        <option value="SOBA">SOBA</option>
                    </select>
                </td>

            </tr>
            <tr>
                <th>Broj soba:</th>
                <td><input type="number" name="brojSoba" /></td>
            </tr>
            <tr>
                <th>Broj Gostiju:</th>
                <td><input type="number" name="brojGostiju" /></td>
            </tr>
            <tr>
                <th>Mesto:</th>
                <td><input type="text" name="mesto" /></td>
            </tr>
            <tr>
                <th>Ulica i broj</th>
                <td><input type="text" name="ulica" />|<input type="number" name="broj" /></td>
            </tr>
            <tr>
                <th>Geografska sirina:</th>
                <td><input type="number" name="GeoSirina" /></td>
            </tr>
            <tr>
                <th>Geografska duzina:</th>
                <td><input type="number" name="GeoDuzina" /></td>
            </tr>
            <tr>
                <th>Postanski broj:</th>
                <td><input type="number" name="Postanski" /></td>
            </tr>
            <tr>
                <th>Cena:</th>
                <td><input type="number" name="cena" /></td>
            </tr>
            <tr>
                <th>Datum od kog se izdaje:</th>
                <td><input type="date" name="DatumOd" /></td>
            </tr>
            <tr>
                <th>Datum do kog se izdaje:</th>
                <td><input type="date" name="DatumDo" /></td>
            </tr>
            <tr>
                <th>Sadrzaji apartmana:</th>
                <td>
                    @using (Html.BeginForm())
                    {

                        <div class="editor-field">

                            @Html.ListBox("Sadrzaji", ViewBag.ListaSadrzaja as MultiSelectList)

                        </div>

                    }
                </td>
            </tr>
            <tr>
                <th>Dodaj Slike:</th>
                <td>
                    <input type="file" name="file" multiple="multiple" />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" id="Submit" value="Dodaj" />
                </td>
            </tr>
        </table>
        }
        <h3>@Session["PorukaDodavanje"]</h3>
    </div>
</body>