﻿@model List<Apartman>

@{
    ViewBag.Title = "Index";
}
<head>
    <style>
        .divOdjava {
            text-align: right;
            background: #faffbf;
            font-size: 26px;
        }
        body {
            background-image: url("glavna.png");
        }
        .divDodajApartman {
            text-align: left;
            background: #faffbf;
            font-size: 26px;
        }

        .divTabela {
            text-align: center;
            background: #c4ff66;
            font-weight: bold;
        }

        .divPretraga {
            background: #f7f783;
            text-align: center;
        }

        .divDomacin {
            background: #66d1ff;
            text-align: center;
        }
    </style>
</head>

<body>

    <div class="divDomacin"> <h2>Domacin</h2></div>
    <div class="divOdjava">
        <div>
            <a href="~/Domacin/Index">Moji Apartmani</a>
            |
            <a href="~/Domacin/PrikazProfila">Moj Profil</a>
            |
            <a href="~/Home/Index">Odjavi me</a>
        </div>
    </div>
    <div class="divDodajApartman">
        <h2><a href="~/Domacin/DodajApartman">Dodaj Novi Apartman</a></h2>
    </div>


    <div class="divPretraga">

        <div>
            <form action="~/Domacin/Index">
                <table align="center">
                    <tr><th>Grad:</th><th>Cena od:</th><th>Cena do:</th><th>Broj soba:</th><th>broj osoba:</th></tr>
                    <tr>
                        <td><input type="text" name="Grad" /> | </td>
                        <td><input type="number" name="CenaOd" /> | </td>
                        <td><input type="number" name="CenaDo" />|</td>
                        <td><input type="number" name="BrojSoba" />|</td>
                        <th><input type="number" name="BrojOsoba" />|</th>
                        <td rowspan="2"><input type="submit" name="dugme" value="Pretrazi" /></td>
                    </tr>

                </table>
            </form>
        </div>
        <div>
            <form action="~/Domacin/Index" method="post">
                <table align="center">
                    <tr>
                        <th>Tip:</th>
                        <th>Status:</th>
                        <th>Sadrzaji apartmana</th>

                    </tr>
                    <tr>
                        <td>
                            <select name="TIP">
                                <option value="SVI">Svi Tipovi</option>
                                <option value="CEO_APART">CEO_APART</option>
                                <option value="SOBA">SOBA</option>
                            </select>|
                        </td>
                        <td>
                            <select name="STATUS">
                                <option value="SVI">NEAKTIVNI I AKTIVNI </option>
                                <option value="NEAKTIVAN">NEAKTIVAN </option>
                                <option value="AKTIVAN">AKTIVAN</option>

                            </select>|
                        </td>
                        <td>
                            @using (Html.BeginForm())
                            {

                                <div>

                                    @Html.ListBox("Sadrzaji", ViewBag.ListaSadrzaja as MultiSelectList)

                                </div>

                            }
                        </td>
                        <td rowspan="2">
                            <input name="dugme" type="submit" value="Primeni filter" />
                        </td>
                    </tr>
                </table>
            </form>
            <div>
                <form action="~/Domacin/Index">
                    <select name="SORTIRANJE">
                        <option value="opadajuce">Cena opadajuce</option>
                        <option value="rastuce">Cena Rascuce</option>
                    </select>
                    <input name="dugme" type="submit" value="sortiraj" />
                </form>
            </div>
        </div>
    </div>
    <div class="divTabela">
        @if (Model.Count == 0)
        {
            <h3>Nema trazenih apartmana</h3>
        }
        else
        {
            <table border=5 BORDERCOLOR=#21b319 align="center">
                <tr>
                    <th>Tip Apartmana:</th>
                    <th>Broj Soba:</th>
                    <th>Broj Gostiju:</th>
                    <th>Lokacija:</th>
                    <td>Sadrzaj Apartmana:</td>
                    <th>Cena:</th>
                    <th>Slike:</th>
                    <th>Status:</th>
                    <th>Komentari:</th>
                    <th>Modifikacija</th>
                    <th>Brisanje</th>

                </tr>

                @foreach (var a in Model)
                {
                    <form action="~/Domacin/IzmeniIzbrisi" method="post" >
                        <tr>
                            <td>@a.TipApartmana.ToString()</td>
                            <td>@a.BrojSoba</td>
                            <td>@a.BrojGostiju</td>
                            <td>@a.Lokacija.Adresa.ToString()</td>
                            <td>
                                @foreach (var sadrzaj in a.SadrzajApartmana)
                                {
                                    if (sadrzaj.Obrisan == false)
                                    {
                                        @sadrzaj.Naziv <p />
                                    }

                                }
                            </td>
                            <td>@a.Cena</td>
                            <td>
                                @foreach (var slika in a.Slike)
                                {
                                    <img src="~/Images/@slika.naziv" height="70" width="90" />
                                }
                            </td>
                            <td>
                                @a.StatusApartmana.ToString()
                            </td>
                            <td>
                                @foreach (var komentar in a.Komentari)
                                {
                                    @komentar.TakstKomentara;
                                    @(",  Ocena:" + komentar.Ocena);
                                    <br />
                                }
                            </td>
                            <td>
                                <input type="hidden" name="id" value="@a.ID" />
                                <input type="submit" name="izmena" value="Modifikuj" />
                            </td>
                            <td>
                                <input type="hidden" name="id" value="@a.ID" />
                                <input type="submit" neme="izmena" value="Obrisi" />
                            </td>
                        </tr>
                    </form>
                }
            </table>
        }
    </div>
</body>
