﻿@model Apartman
@{
    ViewBag.Title = "IzmeniIzbrisi";
}

<head>
    <style>

        .divDodavanje {
            background: #66d1ff;
            text-align: center;
            font-weight: bold;
        }
        body {
            background-image: url("glavna.png");
        }

        .divOdjava {
            text-align: right;
            background: #faffbf;
            font-size: 26px;
        }

        .divtext {
            text-align: center;
        }
        .divDomacin {
            background: #66d1ff;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="divDomacin"> <h2>Domacin</h2></div>
    <div class="divOdjava">
        <div>
            <a href="~/Domacin/Index">Moji Apartmani</a>
            |
            <a href="~/Domacin/PrikazProfila">Moj Profil</a>
            |
            <a href="~/Home/Index">Odjavi me</a>
        </div>
    </div>
    <div class="divtext">
        <h2>Izmena Apartmana</h2>
    </div>
    <div class="divDodavanje">
        @using (Html.BeginForm("IzmenaApartmana", "Domacin", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <table border="1" align="center">

                <tr>
                    <th>Tip:</th>
                    <td>
                        <select name="TipApa">
                            @if (Model.TipApartmana.ToString() == "CEO_APART")
                            {
                                <option value="CEO_APART">CEO_APART</option>
                                <option value="SOBA">SOBA</option>
                            }
                            else
                            {
                                <option value="SOBA">SOBA</option>
                                <option value="CEO_APART">CEO_APART</option>
                            }
                        </select>
                    </td>

                </tr>
                <tr>
                    <th>Broj soba</th>
                    <td><input type="number" name="brojSoba" value="@Model.BrojSoba" /></td>
                </tr>
                <tr>
                    <th>Broj Gostiju</th>
                    <td><input type="number" name="brojGostiju" value="@Model.BrojGostiju" /></td>
                </tr>
                <tr>
                    <th>Mesto</th>
                    <td><input type="text" name="mesto" value="@Model.Lokacija.Adresa.NaseljenoMesto" /></td>
                </tr>
                <tr>
                    <th>Ulica i broj</th>
                    <td><input type="text" name="ulica" value="@Model.Lokacija.Adresa.Ulica" />|<input type="number" name="broj" value="@Model.Lokacija.Adresa.Broj" /></td>
                </tr>
                <tr>
                    <th>Geografska sirina:</th>
                    <td><input type="number" name="GeoSirina" value="@Model.Lokacija.GeoSirina" /></td>
                </tr>
                <tr>
                    <th>Geografska duzina:</th>
                    <td><input type="number" name="GeoDuzina" value="@Model.Lokacija.GeoSirina" /></td>
                </tr>
                <tr>
                    <th>Postanski broj:</th>
                    <td><input type="number" name="Postanski" value="@Model.Lokacija.Adresa.PostanskiBroj" /></td>
                </tr>
                <tr>
                    <th>Cena</th>
                    <td><input type="number" name="cena" value="@Model.Cena" /></td>
                </tr>
                <tr>
                    <th>Sadrzaji apartmana</th>
                    <td>
                        @using (Html.BeginForm())
                        {

                            <div class="editor-field">

                                @Html.ListBox("Sadrzaji", ViewBag.ListaSadrzaja as MultiSelectList)

                            </div>

                        }
                    </td>
                </tr>
                <tr>
                    <th>Zameni stare slike:</th>
                    <td>
                        <input type="file" name="file" multiple="multiple" />
                    </td>
                </tr>
                
                <tr>
                    <td colspan="2">
                        <input type="hidden" name="ID" value="@Model.ID" />
                        <input type="submit" value="Izmeni" />
                    </td>
                </tr>

            </table>
        }
    </div>
</body>