﻿@model Domacin
@{
    ViewBag.Title = "PrikazProfila";
}

<head>
    <style>
        .divLogovanje {
            background: #66d1ff;
            text-align: center;
        }
        body {
            background-image: url("glavna.png");
        }
        .divAdmin {
            background: #66d1ff;
            text-align: center;
        }

        .divOdjava {
            text-align: right;
            background: #faffbf;
            font-size: 26px;
        }
        .divDomacin {
            background: #66d1ff;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="divDomacin"> <h2>Domacin</h2></div>
    <div class="divAdmin">
        <h2>Profil korisnika: @Model.Ime @Model.Prezime</h2>
    </div>
    <div class="divOdjava">
        <div>
            <a href="~/Domacin/Index">Moji Apartmani</a>
            |
            <a href="~/Domacin/PrikazProfila">Moj Profil</a>
            |
            <a href="~/Home/Index">Odjavi me</a>
        </div>

    </div>
    <div class="divLogovanje">
        <form action="~/Domacin/AzuriranjeProfila" method="post">
            <table border="1" align="center" width="200">

                <tr>
                    <th>Korisnicko ime:</th>
                    <td><input type="text" name="korime" value="@Model.KorisnickoIme" /></td>

                </tr>
                <tr>
                    <th>Lozinka:</th>
                    <td><input type="text" name="lozinka" value="@Model.Lozinka" /></td>

                </tr>
                <tr>
                    <th>Ime:</th>
                    <td><input type="text" name="ime" value="@Model.Ime" /></td>

                </tr>
                <tr>
                    <th>Prezime:</th>
                    <td><input type="text" name="prezime" value="@Model.Prezime" /></td>
                </tr>
                <tr>
                    <th>Pol:</th>
                    <td>
                        <select name="pol">
                            @if (Model.Pol.ToString() == "MUSKO")
                            {
                                <option value="MUSKO">MUSKO</option>
                                <option value="ZENSKO">ZENSKO</option>
                            }
                            else
                            {
                                <option value="ZENSKO">ZENSKO</option>
                                <option value="MUSKO">MUSKO</option>
                            }

                        </select>

                    </td>

                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="IZMENI" /></td>
                </tr>

            </table>
        </form>
    </div>
    <div>
        <h2>@Session["Poruka"]</h2>
    </div>
</body>