﻿
@model List<Apartman>
@{
    /**/

    ViewBag.Title = "Index";
}

<head>
  <style>
      .divTabela {
          text-align: center;
          background: #c4ff66;
          font-weight:bold;
      }
      .divPretraga {
          background: #f7f783;
          text-align: center;
      }
      .divLogovanje {
          background: #66d1ff;
          text-align: center;
          font-weight:bold;
      }
      body {
          background-image: url("glavna.png");
      }
      
  </style>
    
</head>

<body>
    <div class="divLogovanje">
        <div>
            <h4>Prijavi se:</h4>
        </div>
        <div>
            <form action="~/Logovanje/UlogujSe" method="post">
                <table align="center" style="opacity: 0.95;border:1px black solid;">
                    <tr>
                        <th>Korisnicko Ime:</th>
                        <td><input type="text" name="KorisnickoIme" /></td>
                    </tr>
                    <tr>
                        <th>Lozina:</th>
                        <td><input type="text" name="Lozinka" /></td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2">
                            <input type="submit" value="Uloguj Se" />
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="2"><h4><a href="~/Logovanje/Registracija">Registruj se</a></h4></td>
                    </tr>
                </table>
            </form>
        </div>
        <div>
            <h3>@Session["PorukaLogovanje"]</h3>
        </div>
    </div>


    <div class="divPretraga">

        <div>
            <form action="~/Home/Index">
                <table align="center">
                    <tr><th>Grad:</th><th>Cena od:</th><th>Cena do:</th><th>Broj soba:</th><th>broj osoba:</th></tr>
                    <tr>
                        <td><input type="text" name="Grad" />|</td>
                        <td><input type="number" name="CenaOd" />|</td>
                        <td><input type="number" name="CenaDo" />|</td>
                        <td><input type="number" name="BrojSoba" />|</td>
                        <th><input type="number" name="BrojOsoba" />|</th>
                        <td rowspan="2"><input type="submit" name="dugme" value="Pretrazi" /></td>
                    </tr>

                </table>
            </form>
        </div>
        <div>
            <form action="~/Home/Index" method="post">
                <table align="center">
                    <tr>
                        <th>Tip:</th>
                        <th>Sadrzaji apartmana:</th>

                    </tr>
                    <tr>
                        <td>
                            <select name="TIP">
                                <option value="SVI">Svi Tipovi</option>
                                <option value="CEO_APART">CEO_APART</option>
                                <option value="SOBA">SOBA</option>
                            </select>
                        </td>
                        <td>
                            @using (Html.BeginForm())
                            {

                                <div class="editor-field">

                                    @Html.ListBox("Sadrzaji", ViewBag.ListaSadrzaja as MultiSelectList)

                                </div>

                            }
                        </td>
                        <td rowspan="2">
                            <input name="dugme" type="submit" value="Primeni filter" />
                        </td>
                    </tr>
                </table>
            </form>
            <div>
                <form action="~/Home/Index">
                    <select name="SORTIRANJE">
                        <option value="opadajuce">Cena opadajuce</option>
                        <option value="rastuce">Cena Rascuce</option>
                    </select>
                    <input name="dugme" type="submit" value="sortiraj" />
                </form>
            </div>

        </div>
    </div>
    <div class="divTabela">
        @if (Model.Count == 0)
        {
            <h3>Nema trazenih apartmana.</h3>
        }
        else
        {

            <table border=5 BORDERCOLOR=#21b319 align="center">
                <tr>
                    <th>Tip Apartmana:</th>
                    <th>Broj Soba:</th>
                    <th>Broj Gostiju:</th>
                    <th>Lokacija:</th>
                    <td>Sadrzaj Apartmana:</td>
                    <th>Cena:</th>
                    <th>Slike:</th>
                    <th>Komentari:</th>
                </tr>

                @foreach (var a in Model)
                {
                    <tr>
                        <td>@a.TipApartmana.ToString()</td>
                        <td>@a.BrojSoba</td>
                        <td>@a.BrojGostiju</td>
                        <td>@a.Lokacija.Adresa.ToString()</td>
                        <td>
                            @foreach (var sadrzaj in a.SadrzajApartmana)
                            {
                                if (sadrzaj.Obrisan == false)
                                {
                                    @sadrzaj.Naziv <p />
                                }

                            }
                        </td>
                        <td>@a.Cena</td>
                        <td>
                            @foreach (var slika in a.Slike)
                            {
                                <img src="~/Images/@slika.naziv" height="70" width="90" />
                            }
                        </td>
                        <td>
                            @foreach (var komentar in a.Komentari)
                            {
                                @komentar.TakstKomentara;
                                @(",  Ocena:" + komentar.Ocena);
                                <br />
                            }
                        </td>
                    </tr>
                }
            </table>

        }
    </div>
</body>