﻿
@{
    ViewBag.Title = "Registracija";
}
<head>
    <style>
        .divLogovanje {
            background: #66d1ff;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="divLogovanje">
        <h2>Registracija</h2>
    </div>
    <div class="divLogovanje">
        <form action="~/Logovanje/RegistrationHandle" method="post">
            <table align="center" border="5">
                <tr>
                    <th>Korisnicko Ime:</th>
                    <td><input type="text" name="KorIme" /></td>
                </tr>
                <tr>
                    <th>Lozinka:</th>
                    <td><input type="text" name="Lozinka" /></td>
                </tr>
                <tr>
                    <th>Ime:</th>
                    <td><input type="text" name="Ime" /></td>
                </tr>
                <tr>
                    <th>Prezime:</th>
                    <td><input type="text" name="Prezime" /></td>
                </tr>
                <tr>
                    <th>Pol:</th>
                    <td>
                        <select name="Pol">
                            <option>MUSKO</option>
                            <option>ZENSKO</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center" >
                        <input  type="submit" value="Registruj se" />
                    </td>
                </tr>
            </table>
        </form>
        <h3>@Session["PorukaRegistracija"]</h3>
    </div>
    <div>
        <a href="~/Home/Index">Nazad</a>
    </div>
</body>